#map_title { margin-top: 0px; margin-left: 125px; font-family: 'Dongle', sans-serif; font-size: 50px;}

#map { margin-top: 10px; margin-left: 1px;}

#search { margin-top: 13px; margin-left: 30px; }
#alarm { margin-top: -50px; margin-left: 147px; }
#message { margin-top: -40px; margin-left: 265px; }

